body { 
    background-color: black;
}
.navbar{
    background-color: red;
    color: white;
}
.container-fluid{
    background-color: black;
    color: aliceblue;
}
.p{
    color: red;
}